$dark-blue: #0089cd;
$lite-blue: #08a1db;
$dark-gray: #576268;
$lite-gray: #d8d8d8;
$gray: #f0f0f0;
$font-lite-blue: #d7f4ff;
$font-dark-blue: #0099d2;
$font: 'Roboto', sans-serif;

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $font;
    font-weight: 300;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.nav{
    width: 100%;
    background-color: $dark-blue;
    color: $font-lite-blue;
}

.nav-container{
    @extend .container;

    a{
        display: block;
        color: $font-lite-blue;
        padding: 1em 0 1em 0;
        margin: 0 5px;
        border-bottom: 3px solid $dark-blue;
        text-decoration: none;
    }

    a:hover{
        border-bottom: 3px solid $font-lite-blue;
    }
}

.title-area{
    width: 100%;
    background-color: $lite-blue;
    color: $font-lite-blue;
    padding: 20px 0;
    box-shadow: 0px 3px 7px #585858;
    z-index: 2;
    position: relative;

    .ta-container{
        @extend .container;
        justify-content: space-between;
        align-items: center;

        .title{
            h2{
                font-weight: 100;
                font-size: 2.5em;
            }
            p{
                font-size: 1em
            }
        }

        .profile-image{
            max-width: 150px;
            max-height: 150px;

            img{
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
    }
}

.content{
    display: grid;
    grid-template-columns: auto 1000px auto;
    z-index: 1;
    position: relative;

    .gray-background{
        background-color: $gray;
    }
    .content-container{
        @extend .container;
        flex-wrap: nowrap;
        padding: 0;

        .address{
            flex-grow: 1;
            padding: 40px 30px 10px 10px;
            background-color: $gray;

            h4{
                color: $font-dark-blue;
            }
        }

        .letter{
            width: 70%;
            padding: 40px 20px 60px 40px;
            box-sizing: border-box;
            box-shadow: -2px 0px 3px #585858;
        }
    }
}

@media only screen and (max-width: 1000px){
    .content{
        grid-template-columns: auto 100% auto;
    }
}

.follow{
    background-color: $lite-blue;
    padding: 20px 0;

    .follow-container{
        @extend .container;

        .link{
            flex-grow: 1;
            text-align: center;
            color: $font-lite-blue;

            i{
                background-color: $dark-blue;
                width: 1em;
                padding: 1em;
                border-radius: 50%;
            }

            a{
                color: $font-lite-blue;
                text-decoration: none;
            }
        }
    }
}

.footer{
    background-color: $dark-blue;
    color: $font-lite-blue;

    .footer-container{
        @extend .container;
        justify-content: space-between;
    }
}

/* -------------------------portfolio------------------------- */
.portfolio{
    display: grid;
    grid-template-columns: auto 1000px auto;
    background-image: url("../../images/bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    
    .white-background{
        background-color: #ffffff;
    }

    h4{
        color: $font-dark-blue;
    }

    a{
        text-decoration: none;
        color: $font-dark-blue;
    }
}

.portfolio:nth-child(odd){
    background-position: right top;

    .portfolio-container{
        @extend .container;
        justify-content: flex-start;
        padding: 0;

        .description{
            background-color: #ffffff;
            width: 30%;
            padding: 30px 30px 30px 10px;  
            box-shadow: 3px 0px 5px #585858;   
        }
    }
}

.portfolio:nth-child(even){
    background-position: left top;

    .portfolio-container{
        @extend .container;
        justify-content: flex-end;
        padding: 0;

        .description{
            background-color: #ffffff;
            width: 30%;
            padding: 10px 30px 30px 30px;
            box-shadow: -3px 0px 5px #585858;
        }
    }
}

@media only screen and (max-width: 1000px){
    .portfolio{
        grid-template-columns: auto 100% auto;
    }
}

/* -----------------------resume----------------------------- */
.resume-description{
    background-color: $dark-gray;
    color: $font-lite-blue;
    padding: 20px 0;
    z-index: 1;
    position: relative;

    .description-container{
        @extend .container;
    }
}

.resume{
    display: grid;
    grid-template-columns: auto 1000px auto;
    font-size: 14px;

    .resume-container{
        @extend .container;
        padding: 0;

        h4{
            margin-top: 30px;
            margin-bottom: 10px;
            color: $font-dark-blue;
            font-size: 1.2em;
        }

        .section-1{
            flex-grow: 1;
            padding: 30px 30px 10px 10px;

            .personal{
                border-collapse: collapse;
                width: 100%;

                td{
                    border-bottom: 1px solid $lite-gray;
                    padding: 8px 10px 8px 0;
                }

                td:nth-child(1){
                    font-weight: 600;
                }
            }

            .tech{
                width: 100%;

                td{
                    width: 45%;
                    padding: 5px 0;
                }
                
                .meter{
                    height: 5px;
                    position: relative;
                    background-color: $gray;
                }

                .meter > span{
                    display: block;
                    height: 100%;
                    background-color: $dark-blue;
                }
            }

            .hobbies{
                display: grid;
                grid-template-columns: auto auto auto;
                text-align: center;

                i{
                    background-color: #b3eaff;
                    color: #ffffff;
                    border-radius: 50%;
                    padding: 0.5em;
                    font-size: 2.2em;
                    width: 1em;
                }

                p{
                    font-size: 0.75em;
                }
            }
        }

        .section-2{
            width: 70%;
            padding: 30px 20px 60px 40px;
            box-sizing: border-box;
            background-color: $gray;
            box-shadow: inset 2px 0px 3px #585858;

            .details-container{
                display: flex;
                border-bottom: 1px solid $lite-gray;

                .details{
                    flex-grow: 4;

                    h5{
                        margin: 10px 0;
                        font-size: 1em;
                    }
                }

                .year{
                    flex-grow: 1;
                    font-weight: 600;
                }
            }

            .piechart-container{
                display: flex;
                justify-content: space-between;

                .piechart-1, .piechart-2, .piechart-3, .piechart-4, .piechart-5{
                    display: flex;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;

                    .text{
                        width: 100px;
                        height: 100px;
                        margin: auto;
                        border-radius: 50%;
                        background-color: $gray;
                        text-align: center;
                        line-height: 100px;
                        font-weight: 600;
                    }
                }

                .piechart-1{
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, $dark-blue 50%), linear-gradient(250deg, $lite-gray 50%, $dark-blue 50%);                    
                }

                .piechart-2{
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, $dark-blue 50%), linear-gradient(120deg, $lite-gray 50%, $dark-blue 50%);                    
                }

                .piechart-3{
                    background: linear-gradient(90deg, $lite-gray 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(45deg, $lite-gray 50%, $dark-blue 50%);                    
                }

                .piechart-4{
                    background: linear-gradient(90deg, $lite-gray 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(-45deg, $lite-gray 50%, $dark-blue 50%);                    
                }

                .piechart-5{
                    background: linear-gradient(90deg, $lite-gray 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, $lite-gray 50%, $dark-blue 50%);                    
                }
            }
        }
    }

    .gray-background{
        background-color: $gray;
    }
}