$dark-blue: #0089cd;
$lite-blue: #08a1db;
$font-lite-blue: #d7f4ff;
$font-dark-blue: #0099d2;

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.nav{
    width: 100%;
    background-color: $dark-blue;
    color: $font-lite-blue;
}

.nav-container{
    @extend .container;

    a{
        display: block;
        color: $font-lite-blue;
        padding: 1em 1.5em;
        border-bottom: 3px solid $dark-blue;
    }

    a:hover{
        border-bottom: 3px solid $font-lite-blue;
    }
}

