$dark-blue: #0089cd;
$lite-blue: #08a1db;
$font-lite-blue: #d7f4ff;
$font-dark-blue: #0099d2;
$font: 'Roboto', sans-serif;

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $font;
    font-weight: 300;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.nav{
    width: 100%;
    background-color: $dark-blue;
    color: $font-lite-blue;
}

.nav-container{
    @extend .container;

    a{
        display: block;
        color: $font-lite-blue;
        padding: 1em 0 1em 0;
        margin: 0 5px;
        border-bottom: 3px solid $dark-blue;
        text-decoration: none;
    }

    a:hover{
        border-bottom: 3px solid $font-lite-blue;
    }
}

.title-area{
    width: 100%;
    background-color: $lite-blue;
    color: $font-lite-blue;
    padding: 20px 0;

    .ta-container{
        @extend .container;
        justify-content: space-between;
        align-items: center;

        .title{
            h2{
                font-weight: 100;
                font-size: 2.5em;
            }
            p{
                font-size: 1em
            }
        }

        .profile-image{
            max-width: 150px;
            max-height: 150px;

            img{
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
    }
}

