body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.container, .nav-container, .title-area .ta-container, .content .content-container, .follow .follow-container, .footer .footer-container, .portfolio:nth-child(odd) .portfolio-container, .portfolio:nth-child(even) .portfolio-container, .resume-description .description-container, .resume .resume-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px; }

.nav {
  width: 100%;
  background-color: #0089cd;
  color: #d7f4ff; }

.nav-container a {
  display: block;
  color: #d7f4ff;
  padding: 1em 0 1em 0;
  margin: 0 5px;
  border-bottom: 3px solid #0089cd;
  text-decoration: none; }
.nav-container a:hover {
  border-bottom: 3px solid #d7f4ff; }

.title-area {
  width: 100%;
  background-color: #08a1db;
  color: #d7f4ff;
  padding: 20px 0;
  box-shadow: 0px 3px 7px #585858;
  z-index: 2;
  position: relative; }
  .title-area .ta-container {
    justify-content: space-between;
    align-items: center; }
    .title-area .ta-container .title h2 {
      font-weight: 100;
      font-size: 2.5em; }
    .title-area .ta-container .title p {
      font-size: 1em; }
    .title-area .ta-container .profile-image {
      max-width: 150px;
      max-height: 150px; }
      .title-area .ta-container .profile-image img {
        width: 100%;
        height: auto;
        border-radius: 50%; }

.content {
  display: grid;
  grid-template-columns: auto 1000px auto;
  z-index: 1;
  position: relative; }
  .content .gray-background {
    background-color: #f0f0f0; }
  .content .content-container {
    flex-wrap: nowrap;
    padding: 0; }
    .content .content-container .address {
      flex-grow: 1;
      padding: 40px 30px 10px 10px;
      background-color: #f0f0f0; }
      .content .content-container .address h4 {
        color: #0099d2; }
    .content .content-container .letter {
      width: 70%;
      padding: 40px 20px 60px 40px;
      box-sizing: border-box;
      box-shadow: -2px 0px 3px #585858; }

@media only screen and (max-width: 1000px) {
  .content {
    grid-template-columns: auto 100% auto; } }
.follow {
  background-color: #08a1db;
  padding: 20px 0; }
  .follow .follow-container .link {
    flex-grow: 1;
    text-align: center;
    color: #d7f4ff; }
    .follow .follow-container .link i {
      background-color: #0089cd;
      width: 1em;
      padding: 1em;
      border-radius: 50%; }
    .follow .follow-container .link a {
      color: #d7f4ff;
      text-decoration: none; }

.footer {
  background-color: #0089cd;
  color: #d7f4ff; }
  .footer .footer-container {
    justify-content: space-between; }

/* -------------------------portfolio------------------------- */
.portfolio {
  display: grid;
  grid-template-columns: auto 1000px auto;
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-size: auto 100%; }
  .portfolio .white-background {
    background-color: #ffffff; }
  .portfolio h4 {
    color: #0099d2; }
  .portfolio a {
    text-decoration: none;
    color: #0099d2; }

.portfolio:nth-child(odd) {
  background-position: right top; }
  .portfolio:nth-child(odd) .portfolio-container {
    justify-content: flex-start;
    padding: 0; }
    .portfolio:nth-child(odd) .portfolio-container .description {
      background-color: #ffffff;
      width: 30%;
      padding: 30px 30px 30px 10px;
      box-shadow: 3px 0px 5px #585858; }

.portfolio:nth-child(even) {
  background-position: left top; }
  .portfolio:nth-child(even) .portfolio-container {
    justify-content: flex-end;
    padding: 0; }
    .portfolio:nth-child(even) .portfolio-container .description {
      background-color: #ffffff;
      width: 30%;
      padding: 10px 30px 30px 30px;
      box-shadow: -3px 0px 5px #585858; }

@media only screen and (max-width: 1000px) {
  .portfolio {
    grid-template-columns: auto 100% auto; } }
/* -----------------------resume----------------------------- */
.resume-description {
  background-color: #576268;
  color: #d7f4ff;
  padding: 20px 0;
  z-index: 1;
  position: relative; }

.resume {
  display: grid;
  grid-template-columns: auto 1000px auto;
  font-size: 14px; }
  .resume .resume-container {
    padding: 0; }
    .resume .resume-container h4 {
      margin-top: 30px;
      margin-bottom: 10px;
      color: #0099d2;
      font-size: 1.2em; }
    .resume .resume-container .section-1 {
      flex-grow: 1;
      padding: 30px 30px 10px 10px; }
      .resume .resume-container .section-1 .personal {
        border-collapse: collapse;
        width: 100%; }
        .resume .resume-container .section-1 .personal td {
          border-bottom: 1px solid #d8d8d8;
          padding: 8px 10px 8px 0; }
        .resume .resume-container .section-1 .personal td:nth-child(1) {
          font-weight: 600; }
      .resume .resume-container .section-1 .tech {
        width: 100%; }
        .resume .resume-container .section-1 .tech td {
          width: 45%;
          padding: 5px 0; }
        .resume .resume-container .section-1 .tech .meter {
          height: 5px;
          position: relative;
          background-color: #f0f0f0; }
        .resume .resume-container .section-1 .tech .meter > span {
          display: block;
          height: 100%;
          background-color: #0089cd; }
      .resume .resume-container .section-1 .hobbies {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center; }
        .resume .resume-container .section-1 .hobbies i {
          background-color: #b3eaff;
          color: #ffffff;
          border-radius: 50%;
          padding: 0.5em;
          font-size: 2.2em;
          width: 1em; }
        .resume .resume-container .section-1 .hobbies p {
          font-size: 0.75em; }
    .resume .resume-container .section-2 {
      width: 70%;
      padding: 30px 20px 60px 40px;
      box-sizing: border-box;
      background-color: #f0f0f0;
      box-shadow: inset 2px 0px 3px #585858; }
      .resume .resume-container .section-2 .details-container {
        display: flex;
        border-bottom: 1px solid #d8d8d8; }
        .resume .resume-container .section-2 .details-container .details {
          flex-grow: 4; }
          .resume .resume-container .section-2 .details-container .details h5 {
            margin: 10px 0;
            font-size: 1em; }
        .resume .resume-container .section-2 .details-container .year {
          flex-grow: 1;
          font-weight: 600; }
  .resume .gray-background {
    background-color: #f0f0f0; }

/*# sourceMappingURL=style.css.map */
